<div class="section" data-aos="fade-up">
    <h2>Education</h2>
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>Degree/Exam</th>
          <th>Institute</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024</td>
          <td>Bachelor of Engineering (B.E.) - Computer Science & Engineering</td>
          <td>Chandigarh University</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>Higher Secondary</td>
          <td>DAV Public School, Saharanpur</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Secondary</td>
          <td>Asha Modern Public School, Saharanpur</td>
        </tr>
      </tbody>
    </table>
  </div>
  