<div class="section" data-aos="fade-up">
    <h2>Work Experience</h2>
    <h3>EPAM Systems, Hyderabad</h3>
    <p><strong>Since July 2024 – Till Date</strong></p>
    <p><strong>Technologies:</strong> C#, .NET, Design Patterns, Microservices Architecture</p>
    <ul>
      <li>Gained hands-on experience in production systems through the Local Goods project, enhancing skills in C#, .NET, and microservices architecture.</li>
      <li>Improved problem-solving and debugging by understanding real-world workflows.</li>
      <li>Utilized tools like Jira for agile project management and Git for version control.</li>
    </ul>
  
    <h3>Internship: ITC Limited, Saharanpur</h3>
    <p><strong>June 2022 - July 2022</strong></p>
    <ul>
      <li>Collaborated closely with the IT team to troubleshoot issues, implement solutions, and optimize processes for enhanced performance.</li>
    </ul>
  </div>